* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

div.container {
    margin-left: 50px;
    margin-right: 50px;
    background-color: #fff9c4; 
    padding: 30px;
}

div.container form {
    background-color: #fffde7; 
    padding: 15px;
    border: 2px solid #2e7d32; 
}

form h3.title {
    text-transform: uppercase;
    text-align: center;
    color: #c62828;
    font-size: larger;
    letter-spacing: 3px;
}

.form-group {
    display: block;
}

.form-control {
    display: block;
    width: 100%;
    padding: 6px;
    border: 1px solid #2e7d32; 
}

.label {
    color: #2e7d32; 
    font-weight: bold;
}

.button {
    background-color: #c62828; 
    color: #fff9c4;
    border-radius: 5px;
    padding: 6px 10px;
    margin-top: 5px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #2e7d32; 
    color: white;
}